body {
  margin: 0;
  font-family: Arial;
}

.container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.left {
  width: 50%;
  background: linear-gradient(135deg, #2d6ef7, #2563eb);
  color: white;
  padding: 60px;
}

.left h1 {
  font-size: 40px;
}

.stats-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.stat-box {
  background: rgba(255, 255, 255, 0.2);
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

/* RIGHT SIDE */
.right {
  width: 50%;
  padding: 60px 80px;
  overflow-y: auto;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}

.validation-box {
  background: #f1f5f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.rule { margin-bottom: 10px; }

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  width: 100%;
  background: #7da6ff;
  color: white;
  padding: 14px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover { background: #5c84ff; }

.signin-text {
  margin-top: 20px;
  font-size: 14px;
}

.link {
  color: #2563eb;
  cursor: pointer;
}
